---
version: 2
updates:
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: daily
    labels:
      - actions
      - dependencies
    open-pull-requests-limit: 10
  - package-ecosystem: gomod
    directories:
      - /
    schedule:
      interval: daily
    labels:
      - dependencies
      - go
    open-pull-requests-limit: 10
  - package-ecosystem: docker
    directories:
      - /
    schedule:
      interval: daily
    labels:
      - dependencies
      - docker
    open-pull-requests-limit: 10
