**/*.json
**/*.yml
**/*.yaml
**/*.md
**/*.pem
**/*.out
.cache/
.git/
.github/
.gocache/
.golangci-cache/
.gomodcache/
config/
deploy/
docs/
dist/
scripts/
test/
AGENTS.md
CHANGELOG.md
Dockerfile
.gitignore
.gitleaksignore
compose.yaml
Makefile
README.md
