---
# requires pre-commit
# For more information, visit https://pre-commit.com/
# To install on OSX: brew install pre-commit
# To install on other systems: https://pre-commit.com/#installation
# To set up the git hook scripts: pre-commit install
# To run manually: pre-commit run --all-files
repos:
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks
        args: ["--config=.github/linters/.gitleaks.toml"]
  - repo: https://github.com/bridgecrewio/checkov
    rev: 3.2.499
    hooks:
      - id: checkov
        args: ["--config-file=.github/linters/.checkov.yml"]
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint
        args: ["-c", ".github/linters/.yaml-lint.yml"]
  - repo: https://github.com/google/yamlfmt
    rev: v0.21.0
    hooks:
      - id: yamlfmt
        args: ["-conf", ".github/linters/.yamlfmt.yml"]
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint
        args: ["-config-file", ".github/linters/actionlint.yml"]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.47.0
    hooks:
      - id: markdownlint
        args:
          - --fix
          - --config
          - .github/linters/.markdown-lint.yml
          - .
  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.4
    hooks:
      - id: go-build-mod
      - id: go-mod-tidy
      - id: go-test-mod
        args:
          - -race
          - -v
          - -timeout=45s
      - id: go-vet-mod
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.10.1
    hooks:
      - id: golangci-lint
        entry: golangci-lint run --new-from-rev HEAD --fix --config .github/linters/.golangci.yml
        language: golang
        types: [go]
        pass_filenames: false
