---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
  - redis-sentinel.yaml
  - redis-replicas-statefulset.yaml
  - networkpolicy.yaml
patchesStrategicMerge:
  - patch-scale.yaml
  - patch-config.yaml
  - patch-app-hardening.yaml
