---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: redis-replica
  labels:
    app: redis
    role: replica
spec:
  serviceName: redis
  replicas: 2
  selector:
    matchLabels:
      app: redis
      role: replica
  template:
    metadata:
      labels:
        app: redis
        role: replica
    spec:
      containers:
        - name: redis
          image: redis:7.2-alpine
          command: ["/bin/sh", "-ec"]
          args:
            - |
              exec redis-server \
                --appendonly yes \
                --replicaof redis-0.redis.github-stats.svc.cluster.local 6379
          ports:
            - name: redis
              containerPort: 6379
          readinessProbe:
            exec:
              command: ["redis-cli", "ping"]
          livenessProbe:
            exec:
              command: ["redis-cli", "ping"]
          volumeMounts:
            - name: data
              mountPath: /data
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 20Gi
